html, body {
    font-family: sans-serif;
}

body {
    padding: 50px;
}

h1, h2, h4 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
}
.value {
    font-weight: 600;
}
.wrapper {
    max-width: 400px;
    margin: 0 auto;
}
.header {
    background-color: #eee;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.hidden {
    display: none !important;
}

.row {
    display: flex;
}
.input {
    margin-right: 15px;
    flex: 1 1 auto;
}
.submit {
    width: 75px;
}

.placeholder-line {
    height: 1em;
    background-color: #eee;
    border-radius: 5px;
}